*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial,  sans-serif;
    background:gray;
}
.chat-container{
    width:350px;
    height:600px;
    border:1px solid #ccc;
    margin: 20px auto;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.chat-header{
    background-color: #f0f0f0;
    padding:10px;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
}
.chat-box{
    padding:20px;
    overflow-y: auto;
    height: 400px;
}
.chat-input{
    padding:10px;
    border-top: 1px solid #ccc;
}
#user-input{
    width:70%;
    height: 30px;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#send-btn{
    width: 20%;
    height:30px;
    padding:10px;
    border:none;
    border-radius: 5px;
    background-color: #4CAF50;
    color:#fff;
    cursor: pointer;
    outline:none;
}
#send-btn:hover{
    background-color: #3e8e41;
}
